@page
@model RolesModel
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Gerenciar Permissões</h3>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="input-group col-8" style="padding:0px;">
                    <input autocomplete="off" name="roleName" type="text" class="form-control">
                    <span class="input-group-append">
                        <button type="submit" class="btn btn-primary">Adicionar nova permissão</button>
                    </span>
                </div>
            </form>
            <br />
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Permissão</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model.Roles)
                    {
                        <tr>
                            <td>@role.Name</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
