<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <span>v1.0.0</span>
        <img src="~/img/logomarca.png" width="40" height="40"  style="margin-left: 15px"/>
    </div>
    <!-- Default to the left -->
    <strong>Illuminare Toys &copy; 2022.</strong> Todos os direitos reservados.
</footer>
