@model IEnumerable<GetProductCategoryOutput>

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    ViewData["Title"] = "Illuminare Toys - Catálogo - Não Conheço a Criança";
}

<div class="buttons-container">
    @{
        var currentClass = "";
        var prevClass = "";
    }

    @foreach (var item in Model)
    {
        prevClass = currentClass;


        currentClass = CardColorHelper.GetCurrentClass(prevClass, currentClass);

        <a class="button-menu @currentClass" asp-action="DontKnowChildCategoryProducts" asp-route-category="@item.Description">
            <h3 class="button-menu-label">@item.Description</h3>
        </a>
    }
</div>