@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    ViewData["Title"] = "Illuminare Toys - Catálogo - Início";
}

<div class="buttons-container">
    <a class="button-menu" asp-action="KnowChild">
        <h3 class="button-menu-label">Conheço a criança</h3>
    </a>
    <a class="button-menu button-menu-bg-secondary" asp-action="DontKnowChild">
        <h3 class="button-menu-label">Não conheço a criança</h3>
    </a>
    <a class="button-menu button-menu-bg-tertiary" asp-action="ByTag">
        <h3 class="button-menu-label">Aspecto do desenvolvimento</h3>
    </a>
    <a class="button-menu" asp-action="Books">
        <h3 class="button-menu-label">Livros</h3>
    </a>
</div>
