@page
@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="http://orgbling.s3.amazonaws.com/bb41238974c6ef8b0ce4a012dd23fa1e/t/2ad3a8dff08bfc97894c34d87a639f0a?AWSAccessKeyId=AKIATCLMSGFX4J7TU445&Expires=1667531130&Signature=Q2CLsIj4Ok3hidkbuOIrU7mCZcA%3D" />
</div>