@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    ViewData["Title"] = "Illuminare Toys - Catálogo - Início";
}

<div class="buttons-container">
    <a class="button-menu" asp-action="KnowChild">
        <h3 class="button-menu-label">Conheço a criança</h3>
    </a>
    <a class="button-menu button-menu-bg-secondary" asp-action="DontKnowChild">
        <h3 class="button-menu-label">Não conheço a criança</h3>
    </a>
    <a class="button-menu button-menu-bg-tertiary" asp-action="ByTag">
        <h3 class="button-menu-label">Aspecto do desenvolvimento</h3>
    </a>
    <a class="button-menu" asp-action="Books">
        <h3 class="button-menu-label">Livros</h3>
    </a>

    @*<div class="col-lg-3">
            <div class="card card-button mx-auto">
                <a class="card-body" asp-action="KnowChild">
                    <h3 class="display-5 text-center card-button-label">Conheço a criança</h3>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-button mx-auto">
                <a class="card-body" asp-action="DontKnowChild">
                    <h3 class="display-5 text-center card-button-label">Não conheço a criança</h3>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-button mx-auto">
                <a class="card-body" asp-action="ByTag">
                    <h3 class="display-5 text-center card-button-label">Aspecto do desenvolvimento</h3>
                </a>
            </div>
        </div>*@
</div>

<script>
    //$(document).ready(function () {
    //    $('#select-tags').select2();

    //    $('#select-tags').on('change', e => {
    //        showLoading();
    //        $('#form-tags').submit();
    //    })
    //});
</script>