@using IlluminareToys.Web.Helpers;

@model IEnumerable<GetGroupOutput>

@{
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    ViewData["Title"] = "Illuminare Toys - Catálogo - Conheço a Criança";
}

<div class="buttons-container">
    @{
        var currentClass = "";
        var prevClass = "";
        var nextClass = "";
    }

    @foreach (var group in Model)
    {

        prevClass = currentClass;


        currentClass = CardColorHelper.GetCurrentClass(prevClass, currentClass);

        <a class="button-menu @currentClass" asp-action="KnowChildAges" asp-route-groupId="@group.Id">
            <h3 class="button-menu-label">@group.Name</h3>
            <span class="text-muted text-center text-white group-description">@group.Description</span>
        </a>
    }
</div>


<style>
    .group-description {
        font-size: 20px;
    }
</style>