@model GetAgeOutput

@{
    ViewData["Title"] = "Illuminare Toys - Editar Idade";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";

    var ageTypes = ViewBag.AgeTypes as List<SelectListItem>;
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Editar Idade</h3>
            <div class="card-tools">
                <a class="btn btn-primary" asp-action="Index">Voltar</a>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <select class="form-control" asp-for="Type" asp-items="ageTypes"></select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>

