.nav-pills .nav-link.active {
    background-color: #f2787b !important;
}

.btn-primary {
    background-color: #f2787b !important;
    border: none !important;
}

.btn-secondary {
    background-color: #44bfe3 !important;
    border: none !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.page-item.active {
    background-color: #f2787b !important;
    border: none !important;
}

    .page-item.active .page-link {
        background-color: #f2787b !important;
        border: none !important;
        color: black !important;
    }
    e
.page-item{
    color: black !important;
}
